body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.header {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.linkFooter{
  padding: 0em !important;
  vertical-align: top !important;
}

.footer{
  margin-top: 1rem;
  padding: 1rem;
  background-color: rgb(235, 195, 64);
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.title {
  margin-top: 5%;
  /* Desktop/Display Large Bold */
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 66px;
  /* identical to box height, or 103% */
  letter-spacing: 1px;

  /* Grayscale / Title-Active */
  color: #14142B;
 }

 .subtitle {
   margin-top: 1%;
  /* Desktop / Text Small */
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
  /* identical to box height, or 175% */
  letter-spacing: 0.75px;

  color: #000000;
}

.labelError {
  color: red;
}

 